<header>
	<nav class="navbar shadow-sm fixed-top navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="/">Tiffany Lee</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-right ">
    		{% for item in site.data.menu %}
   			{% if page.url == item.link %}
      			<li class="nav-item active"><a class="nav-link" href="{{item.link}}" class="active">{{item.name}}</a></li>
    		{% else %}
      			<li class="nav-item"><a class="nav-link" a href="{{item.link}}">{{item.name}}</a></li>
    		{% endif %}
  			{% endfor %}
				
				

    		</ul>

  		</div>
</header>
	
	
	